/* Configuración básica */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto; /* Permite scroll horizontal si es necesario */
    overflow-y: auto; /* Permite scroll vertical si es necesario */
}

/* Configuración de la tabla externa */
.outer-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

/* Configuración de la tabla interna */
.inner-table {
    width: 900px;
    height: 720px;
    margin: auto;
    border: 0px solid black;
}

/* Aplica el efecto Jitter solo a la imagen de fondo */
body {
    background-image: url('wall_thorn.jpg');
    background-size: 110%; /* Aumenta el tamaño para cubrir los bordes durante el jitter */
    background-position: center center; /* Centra la imagen */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija el fondo para que no se mueva con el scroll */
    min-height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
    animation: jitter-bg 0.1s infinite;
}

/* Definición de la animación Jitter solo para el fondo */
@keyframes jitter-bg {
    0% {
        background-position: center center;
    }
    25% {
        background-position: calc(50% - 1px) calc(50% + 1px);
    }
    50% {
        background-position: calc(50% + 1px) calc(50% - 1px);
    }
    75% {
        background-position: calc(50% - 1px) calc(50% - 1px);
    }
    100% {
        background-position: calc(50% + 1px) calc(50% + 1px);
    }
}

/* Estilos para la tabla principal */
#main {
    border: 2px solid #111111;
    transition: background-color 0.3s ease;
}

/* Estilos para las celdas de la tabla */
td {
    border: 0px solid black;
}
